<!-- <div class="wrapper">
  <i class="fa fa-plus-circle fa-2x" aria-hidden="true" (click)="up()" [ngClass]="{'availYes': context.avail, 'availNo': !context.avail}"></i>
  <i class="fa fa-minus-circle fa-2x" aria-hidden="true" (click)="down()" [ngClass]="{'availYes': context.avail, 'availNo': !context.avail}"></i>
</div>
<h1>{{context.qty}}</h1> -->


<div class="wrapper" *ngIf="!context.excluded">
    <i class="fa fa-minus" (click)="down()"></i>
    <span [ngClass]="{'availYes': context.avail, 'availNo': !context.avail}">{{context.qty}}</span>
    <i class="fa fa-plus" (click)="up()"></i>
</div>
