@import "../../../styles.shared.scss";
main {
  width: 100%;
  @include atDesktop {
    width: fit-content;
    height: 100%;
    background-color: lightyellow;
  }
  header {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: lightgrey;
    position: sticky;
    top: 50px;
    z-index: 1;
    @include atDesktop {
      position: initial;
      top: initial;
      background-color: #B6E5FB;
    }
  }
}
