@import "../../../styles.shared.scss";
:host() {
  width: 100%;
  @include atDesktop {
    width: fit-content;
    height: 100%;
    overflow-y: auto;
    overflow-y: overlay;     //Chrome only
    background-color: $theme-desktop-color;
  }
}

header {
  background-color: $theme-mobile-subheader-color;
  text-transform: uppercase;
  font-weight: bold;
  position: sticky;
  top: 50px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1;
  @include atDesktop {
    font-size: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1vw;
    padding-right: 1vw;    
    top: 0;
    background-color: $theme-desktop-header-color;
  }
}

ol {
  column-count: 2;
  column-gap: 3.5em;
  @include atDesktop {
      column-count: initial;
      column-gap: initial;
  }
}

article {
  break-inside: avoid-column;  
  width: fit-content;
  padding-left: 8px;
  font-style: normal;
  font-size: 1rem;
  color: black;
  border-left: 2px solid black;
  margin-bottom: 1rem;
  em {
    font-weight: bolder;
  }
  @include atDesktop {
    &:hover {
      border-left: 5px solid red;
    }
  }
}




.animation {
  animation-duration: 1s;
  animation-name: showup;
}

@keyframes showup {
  0% {
      color: red;
  }
  99% {
      color: red;
  }
  100% {
      color: black;
  }
}
