@import "../../styles.shared.scss";

//  mobile version
.wrapper-mobile {
  @include atDesktop {
    display: none;
  }
  header {
    position: sticky;
    top: 50px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: $theme-mobile-subheader-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    z-index: 1;
    i {
      margin-right: 2rem;
    }
  }
  section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
    .grid-cell {
      color: black;
      border-radius: 5px;
      font-size: 150%;
    }
  }
}
// desktop version
.wrapper-desktop {
  display: none;
  @include atDesktop {
    display: flex;
    margin-bottom: 10px;
  }
  .wrapper--configurator {
    --cell-bg-color: $theme-desktop-subheader-color;
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    padding-top: 10px;
    .configurator {
      display: flex;
      box-sizing: border-box;
      width: fit-content;
      max-width: 1200px;
      overflow: auto;
      box-shadow: 5px 5px 20px 0px rgba(50, 50, 50, 0.75);
      background-color: $theme-desktop-header-color;
      .vertical {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // justify-content: flex-end;        
        // transform: rotate(-90deg) translateX(50px);
        // transform: rotate(180deg);  
        text-orientation: upright;      
        writing-mode: vertical-rl;
        width: 50px; 
      }
      main {
        .lordosis {
          text-align: center;
          font-size: 2rem;
          text-transform: uppercase;
          font-weight: bold;
          background-color: $theme-desktop-header-color;
        }
        .line {
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }
        .cell {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          z-index: 1;
        }
        .cell--header {
          background-color: var(--cell-bg-color);
          line-height: 2rem;
        }
        .cell--item {
          height: 100px;
          background-color: $theme-desktop-color;
          font-family: FontAwesome;
        }
        .cell--item--fixed {
          background-color: var(--cell-bg-color);
        }
      }
    }
  }
}
app-requirements,
app-set-proposal {
  box-shadow: 5px 5px 20px 0px rgba(50, 50, 50, 0.75);
}
