@import "../../styles.shared.scss";
//  mobile version
.wrapper-mobile {
  @include atDesktop {
    display: none;
  }
  header {
    position: sticky;
    top: 50px; // font-size: 2rem;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: $theme-mobile-subheader-color;
    margin-bottom: 3rem;
    z-index: 1;
  }
  section {
    // display: flex;
    // justify-content: space-around;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    margin-left: 50px;
    margin-right: 50px;    
    .grid-cell {
      color: black;
      font-size: 150%;
    }
  }
}

// desktop version
.wrapper-desktop {
  display: none;
  @include atDesktop {
    display: flex;
    justify-content: center;
    height: 90%;
  }
  .wrapper--configurator {
    --cell-bg-color: $theme-desktop-subheader-color;
    box-shadow: 5px 5px 20px 0px rgba(50, 50, 50, 0.75);
    height: fit-content; // overflow: auto;
  }
  .configurator {
    display: flex;
    box-sizing: border-box;
    width: fit-content;
    background-color: $theme-desktop-header-color;
    .vertical {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-orientation: upright;
      writing-mode: vertical-rl;
      width: 50px;
    }
    main {
      .lordosis {
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        background-color: $theme-desktop-header-color;
      }
      .line {
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
      .line:not(:nth-child(2n)){
        border-bottom: 1px solid lightgrey;        
      }
      .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6vw;
        min-width: 100px;
      }
      .cell--header {
        background-color: var(--cell-bg-color);
        line-height: 2rem;
      }
      .cell--item {
        height: 12vh;
        min-height: 100px;
        background-color: $theme-desktop-color;
        font-family: FontAwesome;
      }
      .cell--item--fixed {
        background-color: var(--cell-bg-color);
      }
    }
  }
}

app-requirements,
app-set-proposal {
  @include atDesktop {
    box-shadow: 5px 5px 20px 0px rgba(50, 50, 50, 0.75);
    margin-left: 2vw;
  }
}
