<app-material-selection></app-material-selection>

<div class="wrapper-desktop">
    <div class="wrapper--configurator">
        <div class="configurator">
            <header class="vertical">
                footprint
            </header>

            <main>
                <header class="lordosis">
                    Lordosis
                </header>

                <header class="line">
                    <div class="cell">
                        <i class="fa fa-refresh fa-1x" aria-hidden="true" (click)="doReset()"></i>
                    </div>
                    <div *ngFor="let lordosis of Lordosis$ | async">
                        <ng-container *ngIf="lordosis === 99; then outlierTemplate else moverTemplate"></ng-container>
                        <ng-template #moverTemplate>
                            <div class="cell cell--header">{{lordosis}}&#176; Movers</div>
                        </ng-template>

                        <ng-template #outlierTemplate>
                            <div class="cell cell--header">Outliers</div>
                        </ng-template>
                    </div>
                </header>

                <section *ngFor="let W of W$ | async">
                    <div class="line">
                        <div class="cell cell--item cell--item--fixed">{{W}}mm</div>
                        <ng-container *ngFor="let lordosis of Lordosis$ | async">
                            <app-configurator-button class="cell cell--item" [context]="getContext(W, lordosis) | async"></app-configurator-button>
                        </ng-container>
                    </div>
                </section>
            </main>
        </div>
    </div>
</div>



<div class="wrapper-mobile">
    <header>
        <span>&nbsp;Implant&nbsp;&nbsp;Selection&nbsp;</span>
        <span *ngIf="requirementsChosen$ | async; let requirementsChosen">
      <i class="fa fa-refresh fa-1x" aria-hidden="true" (click)="doReset()"></i>
    </span>
    </header>

    <section *ngFor="let r of requirements$ | async; odd as isOdd; trackBy: trackByFn" [class.odd]="isOdd">
        <p class="grid-cell">{{r.W}}mm</p>
        <ng-container *ngIf="r.lordosis === 99; then outlierTemplate else moverTemplate"></ng-container>
        <ng-template #moverTemplate>
            <div class="grid-cell">{{r.lordosis}}&#176; Movers</div>
        </ng-template>
        <ng-template #outlierTemplate>
            <div class="grid-cell">Outliers</div>
        </ng-template>

        <app-configurator-button [context]="r"></app-configurator-button>
    </section>
</div>

<app-requirements></app-requirements>
