@import "../styles.shared.scss";
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  header {    
    background-color: #1f89ce;
    color: black;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    font-size: 3.5rem;
    height: 10%;
    display: none;
    @include atDesktop {
      display: flex;
    }
  }
  nav {
    display: none;
    @include atDesktop {
      display: initial;
    }
  }
  main {
    overflow: auto;
  }
}

.insetshadow {
  color: #202020;
  background-color: #2d2d2d;
  letter-spacing: .1em;
  text-shadow: -1px -1px 10px #9AD2F8, 2px 2px 1px #363636;
}
