@mixin atDesktop {
  @media only screen and (min-height: 1025px) and (orientation: portrait), only screen and (min-width: 1025px) and (orientation: landscape) {
    @content;
  }
}

$theme-app-background-color: #E0E1DD;
$theme-desktop-color: lightyellow;
$theme-desktop-header-color: #B6E5FB;
// $theme-desktop-header-color: white;

$theme-desktop-subheader-color: #DCFEFC;
$theme-mobile-header-color: darkgrey;
$theme-mobile-subheader-color: lightgrey;
$theme-mobile-button-color: #444;
$theme-mobile-button-font-color: #fff;
$theme-mobile-button-active-font-color: red;
