main {
  width: fit-content;
  min-height: 100%;
  header {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #B6E5FB;
  }
  ol {
    font-style: italic;
    font-size: 1rem;
    color: black;
    li p {
      padding-left: 8px;
      font-style: normal;
      font-size: 1rem;
      color: black;
      border-left: 1px solid black;
      em {
        display: block;
      }
    }
  }
}
