@import "../../../styles.shared.scss";
main {
  width: 100%;
  @include atDesktop {
    width: fit-content;
    height: 100%;
    overflow-y: auto;
    background-color: $theme-desktop-color;
  }
  header {
    background-color: $theme-mobile-subheader-color;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    position: sticky;
    top: 50px;
    z-index: 1;
    @include atDesktop {
      position: initial;
      top: initial;
      background-color: $theme-desktop-header-color;
    }
  }
  ol {
    font-style: italic;
    font-size: 1rem;
    color: black;
    li p {
      width: fit-content;
      padding-left: 8px;
      font-style: normal;
      font-size: 1rem;
      color: black;
      border-left: 2px solid black;
      em {
        display: block;
      }
      @include atDesktop {
        &:hover {
          transform: scale(1.1);
          font-weight: bolder;
        }
      }
    }
  }
}
