@import "../../../styles.shared.scss";
:host() {
    width: 100%;
    @include atDesktop {
        overflow-y: auto;
        overflow-y: overlay; //Chrome only
        overflow-x: hidden;
        background-color: $theme-desktop-color;
    }
}

header {
    background-color: $theme-mobile-subheader-color;
    text-transform: uppercase;
    font-weight: bold;
    position: sticky;
    top: 50px;
    text-align: center;
    margin-top: 1em;    
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 1;
    @include atDesktop {
        font-size: 2rem;
        margin: 0;            
        padding: 0;
        top: 0;
        background-color: $theme-desktop-header-color;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fa {
        margin-left: 2em;
        color: initial;
        text-decoration: none;
        @include atDesktop {
            font-size: 1.5rem;
        }
    }
}

ol {
    column-count: 2;
    column-gap: 3.5em;
    margin-right: 2em;
    @include atTablet {
        column-count: 3;
    }
    @include atDesktop {
        column-count: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; // column-count: initial;
        // column-gap: initial;
        // display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(200px, auto));
        // grid-auto-rows: minmax(100px, auto);
        // grid-template-columns: repeat(3, 200px);
        // grid-template-rows: repeat(4, 200px);
        // grid-auto-flow: column;
    }
}

article {
    break-inside: avoid-column;
    width: fit-content;
    padding-left: 8px;
    font-style: normal; 
    font-size: 0.9em;
    color: black;
    border-left: 2px solid black;
    margin-bottom: 1rem;
    @include atDesktop {
        margin-right: 3em;
        &:hover {
            border-color: red;
            > .fa{
                color: red;
            }
        }
    }
}

.fa-clipboard:active {
    animation: 1s showup;
}

.availNo {
    color: red;
}

.animation {
    animation: 1s showup;
    -webkit-animation: 1s showup;
}

@keyframes showup {
    0% {
        color: red;
    }
    99% {
        color: red;
    }
    100% {
        color: black;
    }
}


.setContent{
    margin-left: 1em;
}