@import "../../../styles.shared.scss";
:host() {
    .mobile {
      width: 100%;
      @include atDesktop {
            display: none;
        }
        header {
            background-color: $theme-mobile-subheader-color;
            text-transform: uppercase;
            font-weight: bold;
            position: sticky;
            top: 50px;
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
            z-index: 1;
        }

    }
}

:host() {
    .desktop {
        display: none;
        @include atDesktop {
            display: initial;
            width: fit-content;
            position: fixed;
            color: white;
            top: 50px;
            right: 20px;
        }
    }
}



.settings {
    padding-top: 1em;
    padding-bottom: 2em;
    @include atDesktop {
        margin: 0;
    }        
    display: flex;
    align-items: center;
    justify-content: center;
}


.onoffswitch {
    position: relative;
    width: 55px;
    user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 20px;
    padding: 0;
    line-height: 20px;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    background-color: #9E9E9E;
    transition: background-color 0.3s ease-in;
}

.onoffswitch-label:before {
    content: "";
    display: block;
    width: 20px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 33px;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label {
    background-color: #622567;
}

.onoffswitch-checkbox:checked+.onoffswitch-label,
.onoffswitch-checkbox:checked+.onoffswitch-label:before {
    border-color: #622567;
}

.onoffswitch-checkbox:checked+.onoffswitch-label:before {
    right: 0px;
}